<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.acemurder.datingme">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    、
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".APP"
        android:allowBackup="true"
        android:icon="@mipmap/date"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Dark">
        <activity
            android:name=".modules.main.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Dark">
        </activity>
        <activity
            android:name=".modules.login.LoginActivity"
            android:theme="@style/AppTheme.Dark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.login.SignupActivity"
            android:theme="@style/AppTheme.Dark"/>
        <activity
            android:name=".modules.dating.AddDatingActivity"
            android:theme="@style/AppTheme.Dark">

        </activity>
        <activity
            android:name=".modules.community.WritingActivity"
            android:theme="@style/AppTheme.Dark"/>
        <activity android:name=".modules.community.DetailsActivity"/>

        <activity
            android:name=".component.image_selector.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".modules.im.guide.activity.AVSquareActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Dark"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>

        <activity
            android:name=".modules.im.guide.activity.AVSingleChatActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>
        <activity android:name=".modules.community.AddCommunityActivity"/>


        <service android:name="com.avos.avoscloud.PushService"/>

        <receiver android:name=".modules.im.guide.NotificationBroadcastReceiver"/>

        <receiver android:name="com.avos.avoscloud.AVBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>