<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.acemurder.datingme"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".APP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
       <!-- <service android:name="com.avos.avoscloud.PushService"/>
        <receiver android:name="com.avos.avoscloud.AVBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>-->
        <!-- 实时通信模块、推送 END -->

        <!-- 反馈组件（若使用该功能，需添加以下声明）START -->

        <activity
            android:theme="@style/AppTheme.Dark"
            android:name=".modules.main.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            >
        </activity>
        <activity
            android:name=".modules.login.LoginActivity"
            android:theme="@style/AppTheme.Dark">
        </activity>
        <activity
            android:name=".modules.login.SignupActivity"
            android:theme="@style/AppTheme.Dark"/>
        <activity android:name=".modules.dating.EditActivity">
        </activity>
    </application>

</manifest>